@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    * {
        @apply font-din
    }

    html, body {
        @apply bg-off-black text-good-grey m-0 p-0 overflow-hidden

    }

    body {
        @apply h-screen w-screen
    }
    
    a {
        @apply cursor-pointer;
    }

    a:hover {
        @apply text-purple-800
    }
}

@layer components {
    .contact-input {
        @apply h-[50px] bg-good-grey text-base border border-purple-800 px-5 w-full m-1
    }

    .contact-li {
        @apply overflow-hidden w-full
    }

    .contact-li-half {
        @apply min-w-[49%] block float-left overflow-hidden
    }

    .skewed-border-right {
        -webkit-transform: skewX(-10deg);
        -moz-transform: skewX(-10deg);
        -ms-transform: skewX(-10deg);
        transform: skewX(-10deg);
        @apply border-popping-purp border
    }

    .skewed-border-left {
        -webkit-transform: skewX(10deg);
        -moz-transform: skewX(10deg);
        -ms-transform: skewX(10deg);
        transform: skewX(10deg);
        @apply border-popping-purp border
    }

    .navActive {
        @apply border-popping-purp
    }

    .mobile-nav-btn {
        @apply text-4xl uppercase pl-8 pb-4 font-bold 
    }
}


